/*-- 6. Components >> Site nav
========================================================================== --*/
.c-site-nav{
    display: inline-block;
    @include padding($spacing-unit, top);

    .c-site-header--fixed &{
        @include padding(0, top);
    }

    @at-root #{&}__trigger{
        display: none;

        .c-site-header--fixed &{
            svg path{
                fill: $dark;
            }
        }
    }

    @at-root #{&}__item{
        display:inline-block;

        a{
            @include padding(calculateRem(40px), right);
            font-family: $secondary-font;
            font-size: $text-xs;
            text-transform:uppercase;
            letter-spacing: 1px;
            color: #fff;

            &:hover{
                color: $secondary-colour;
            }

            .c-site-header--fixed &{
                margin-top:3px;
                color: $dark;
                &:hover{
                    color: $primary-colour;
                }
            }
        }
    }
}
.c-site-header--fixed .u-button:hover{
    background-color: $dark;
    color: #fff;
}

@include lg-down(){
    .c-site-nav{
        @at-root #{&}__item{
            a{
                @include padding(calculateRem(30px),right);
            }
        }
    }
}

@include lg-down(){
    .c-site-header .cta-button{
        margin-right: calculateRem(40px);
    } 
    .c-site-nav{
        display:none;

        &.shown{
            display: block;
        }

        &--header{
            @include position(absolute, calculateRem(50px), 0, auto, auto);
            padding-top: 0;
            z-index: 9999;
            background-color: $dark;
            width:calculateRem(265px);
        }

        @at-root #{&}__trigger{
            display: inline-block;
            @include position((absolute), calculateRem(10px), 0);
            z-index: 9;
            cursor: pointer;
        }

        @at-root #{&}__item{
            text-align: center;
            display: block;
            a{
                display: block;
                padding: 1em;
                border: 1px solid lighten($dark, 10%);
                margin: 0.5em;
            }
        } 

    } //end .c-site-nav

    .c-site-header--fixed .c-site-nav__item a{
        color: #fff;
        &:hover{
            color: $secondary-colour;
        }
    }
}

@include sl-up(){

}

@include sl-down(){
    .c-site-header .cta-button{
        display:none;
    }
    .c-site-nav__trigger{
       // top:0;
    }
}