/*-- 6. Components >> Site header
========================================================================== --*/
.c-site-header{
    @include position(absolute, 0, 0, auto, 0);
    z-index:4;
    @include padding($spacing-unit, top);
    @include transition(all, 0.3s);

    .logo{
        margin-top: 5px;
    }

    &--fixed{
        @include position(fixed);
        @include padding(0.5em, top, bottom);
        background-color: #fff;
        border-bottom: 1px solid rgba($base-border-colour, 0.3);
        max-height: calculateRem(60px);

        .admin-bar &{
            top:32px;
        }

        .logo{
            margin: 0;
            position: relative;
            top: -1px;
            max-width: 185px;
            height: 47px;
            overflow: hidden;
            &__icon, &__text{
                path, rect{
                    fill: $primary-colour;
                }
            }

            &__text{
               // display: none;
            }
        }
    }
}