/*-- 6. Components >> Custom >> USPS
========================================================================== --*/
.c-usps__content-holder{
	@include padding($spacing-unit, top, bottom);
}
.c-usps__item__content{
	display: block !important;
	@include padding($spacing-unit, top, bottom);
}

@include md-up(){
	.c-usps__content-holder{
		@include padding($spacing-unit * 3, top);
		@include padding($spacing-unit * 2, bottom);

		&:after{
			content:'';
			position:absolute;
			left:0;
			top:50%;
			width:100%;
			height:1px;
			border-top: 1px solid rgba(#fff, 0.25);
		}
	}

	.c-usps__item{
		&--1, &--5{
			&:after{
				content:'';
				position:absolute;
				right:0;
				top:-700px;
				width:1px;
				height:2000px;
				border-left: 1px solid rgba(#fff, 0.25);
			}
		}
		&--1:after{
			right: 1rem;
		}
		&--5:after{
			right: -1rem;
		}
	}

	.c-usps__item__content{
		@include padding($spacing-unit * 3, top, bottom);
		@include padding(8.33333%, right, left);
	}
}

@include md-down(){
	.c-usps__item{
		border-bottom: 1px solid rgba(#fff, 0.25);

		&--6{
			border-bottom:0;
		} 
	}
}